configuration (  
        master_exec_path = "/home/synopsys/installs/icvalidator/P-2019.06-3/bin/LINUX64_L26el/icv_master",
        slave_exec_path = "/home/synopsys/installs/icvalidator/P-2019.06-3/bin/LINUX64_L26el/icv_slave",
        engine_exec_path = "/home/synopsys/installs/icvalidator/P-2019.06-3/bin/LINUX64_L26el/icv_engine",
        working_directory = "/home/userdata/21mvd0086/Simple_Processor_Working/Physical_Synthesis_ICC2_Version2/signoff_fill_run/icv_run_1",
        run_details_directory = "/home/userdata/21mvd0086/Simple_Processor_Working/Physical_Synthesis_ICC2_Version2/signoff_fill_run/icv_run_1/run_details",
        group_directory = "/home/userdata/21mvd0086/Simple_Processor_Working/Physical_Synthesis_ICC2_Version2/signoff_fill_run/icv_run_1/run_details/group"
 );

hosts ( 
      batch_system = "0", 

      machines = {  
                 { synopsysserver, ""},
                 { synopsysserver, ""},
                 }
);
